.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: #4c566a;
}

.notification {
  border-radius: 12px;
  margin: 6px 12px;
  padding: 0;
}

.low,
.normal,
.critical {
  padding: 6px;
  border-radius: 12px;
}

.low {
  background: #ebcb8b;
}

.normal {
  background: #a3be8c;
}

.critical {
  background: #bf616a;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: #eceff4;
  color: #e5e9f0;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: #eceff4;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: #3b4252;
  border: 1px solid #eceff4;
  color: #e5e9f0;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  background: #434c5e;
}

.notification-default-action {
  border-radius: 12px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid #eceff4;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: #3b4252;
  color: #e5e9f0;
  caret-color: #e5e9f0;
  border: 1px solid #eceff4;
  border-radius: 12px;
}

.inline-reply-button {
  margin-left: 4px;
  background: #3b4252;
  border: 1px solid #eceff4;
  border-radius: 12px;
  color: #e5e9f0;
}

.inline-reply-button:disabled {
  background: initial;
  color: #d8dee9;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: #434c5e;
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #e5e9f0;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #e5e9f0;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: #e5e9f0;
  text-shadow: none;
}

.control-center {
  background: #2e3440;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: initial;
  color: #e5e9f0;
  text-shadow: none;
  background: #3b4252;
  border: 1px solid #eceff4;
  box-shadow: none;
  border-radius: 12px;
}

.widget-title > button:hover {
  background: #434c5e;
}

.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: #3b4252;
  border: 1px solid #eceff4;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #5e81ac;
}

.widget-dnd > switch slider {
  background: #434c5e;
  border-radius: 12px;
}

.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  background-color: #3b4252;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: #3b4252;
  border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #434c5e;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.widget-volume {
  background-color: #3b4252;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-volume > box > button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: #3b4252;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 12px;
}

.widget-backlight {
  background-color: #3b4252;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: #e5e9f0;
  text-shadow: none;
  background: #3b4252;
  border: 1px solid #eceff4;
  box-shadow: none;
  border-radius: 12px;
}

.widget-inhibitors > button:hover {
  background: #434c5e;
}

/*# sourceMappingURL=style.css.map */
