$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;
$nord16: #a1b862;

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $nord4;
}

window#waybar {
  border-bottom: 3px solid $nord0;
  background-color: $nord0;
}

window#waybar.empty {
  background-color: $nord0;
}

#workspaces button {
  border-right: 3px solid $nord6;
  background-color: $nord3;
}

#workspaces button:hover {
  background-color: $nord0;
  background: inherit;
  box-shadow: inset 0 -3px $nord6;
}

#workspaces button.focused {
  background-color: $nord0;
}

#workspaces button.urgent {
  background-color: $nord11;
}

button {
  border: none;
  border-radius: 0;
}

label:focus {
  background-color: $nord0;
}

#clock,
#network,
#wireplumber,
#mode,
#mpris,
#custom-notification,
#battery,
#bluetooth {
  padding: 0 10px;
  margin: 0;
  color: $nord0;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
  border: none;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  background-color: $nord8;
}

#battery.charging, #battery.plugged {
    background-color: $nord14;
}

#battery.warning:not(.charging) {
    background-color: $nord12;
}

#battery.critical:not(.charging) {
    background-color: $nord11;
}

#clock {
  background-color: $nord9;
}

#mode {
  background-color: $nord7;
}

#network {
  background-color: $nord7;
}

#network.disconnected {
  background-color: $nord11;
}

/*
#custom-notification {
  background-color: $nord8;
}
*/

#wireplumber {
  background-color: $nord13;
}

#wireplumber.muted {
  background-color: $nord15;
}

#mpris {
  background-color: $nord16;
}

#bluetooth {
  background-color: $nord10;
}
